form.signup,
form.login {
  margin-top: 50px;
}

.filterTitle{
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
}
.card{
  margin: 15px;
}

.results{
  font-size: 10px;
  border-style: solid;
  text-align: center;
  border-width: 1px;
  border-radius: 5px;
}

.noteTitle{
  margin: 0px;
  text-decoration: underline;
}

.card-text{
  font-size: 15px;
}

.resultsRow{
  margin-top: -5px;
}

#logout{
  font-size: 15px;
}

.navbar-custom{
  background-color: lightgrey;
}

.dropdown{
  margin: 5px;
}
.occasion{
  text-align: right;
}

.dropSize{
  font-size: 10px;
}

.searchAdd{
  margin: 10px;
}

.navbar{
  padding: 0px;
}