form.signup,
form.login {
  margin-top: 50px;
}

.filterTitle{
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
}
.card{
  margin: 15px;
}

.results{
  font-size: 10px;
  border-style: solid;
  text-align: center;
  border-width: 1px;
  border-radius: 5px;
}

.noteTitle{
  margin: 0px;
  text-decoration: underline;
}

.card-text{
  font-size: 15px;
}
=======

.bodybackground {
  background-image: url("../../assets/foodbook.jpeg");
  background-color: #cccccc;
  background-size: 100%, 100%;
}

.form-group {
  color: white;
}

.centerclass {
  text-align: center;
  align-items: center;
}


