form.signup,
form.login {
  margin-top: 50px;
}

.filterTitle{
  font-size: 12px;
  text-decoration: underline;
  text-align: center;
}
.card{
  margin: 15px;
}

.results{
  font-size: 10px;
  border-style: solid;
  text-align: center;
  border-width: 1px;
  border-radius: 5px;
}

.noteTitle{
  font-size: 13px;
  margin: 0px;
  text-decoration: underline;
}

.card-text{
  font-size: 12px;
}
.resultsRow{
  margin-top: -5px;
}

#logout{
  font-size: 15px;
}

.navbar-custom{
  background-color: lightgrey;
}

.dropdown{
  margin: 5px;
}

.dropSize{
  font-size: 10px;
}

.searchAdd{
  margin: 10px;
}

.navbar{
  padding: 0px;
}

.membersNavbar{
  background-color: lightskyblue;
}

.bodybackground {
  background-image: url("../assets/foodbook.jpeg");
  background-color: #cccccc;
  background-size: 100%, 100%;
}

.loginbackground {
  background-image: url("https://quintonil.com/wp-content/uploads/2019/06/banner1.png");
  background-color: #cccccc;
  background-size: 100%, 100%;
}

.form-group {
  color: white;
}

.centerclass {
  text-align: center;
  align-items: center;
}

.reviewbutton{
  margin: auto;
  padding: auto;
}

.reviewcolor {
  background-color: lightsalmon;
  opacity: 90%;
  padding: auto;
}


.main-form {
  margin: auto;
}

.newReview {
  background-image: url("../assets/brooke-lark-4J059aGa5s4-unsplash.jpg");
  background-color: #cccccc;
  background-size: 100%, 100%;
}
.profileName{
text-align: center;
}